#home{
    display: flex;
    min-height: calc(100vh -206);
    position: relative;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    line-height: 60px;
    color: --text-color;
}

#cta .title span{
    font-size: 4rem;
    color: var(--color-primary-2);
}

#cta .description{
    font: 1.2rem;
}

.cta-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 75%;
    height: 100%;
}

.cta-form input{
    padding: 10px;
    color: var(--text-color);
    border: none;
    height: 60px;
    border-radius: 20px;
}

.cta-form #msg{
    padding: 10px;
    color: var(--color-primary-2);
    font-size: larger;
}

#button{
    color: black;
    background-color: var(--color-primary-2);
    box-shadow: 0px 0px 10px 2px rgb(0,0,0,0.1);
    transition: backgroud-color .3s ease;
}
#button:hover{
    cursor: pointer;
    color: rgb(107, 204, 120);
    background-color: black;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 10%;
}
#banner img{
    height: 100%;
    width: fit-content;
}

.shape{
    background-color:var(--color-primary-2);
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1,
}

@media screen and (max-width :1170px){
    #home{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }
}
